# TUPLE

In [ ]:
#tuple is sequence of items,similsr to lists
    #tuple is denoted by ()
    #the value stored in the tuple can be of any type and they are indexed using intergers
    #they are immutable , literable
    #they can be made as keys in dictionaries

In [2]:
#CREATE EMPTY TUPLE
t1=()    #or
t2=tuple()
print(t1)
print(t2)
print(type(t1))
print(type(t2))

()
()
<class 'tuple'>
<class 'tuple'>

In [3]:
t3=(3,2,4)
t3

(3, 2, 4)

In [4]:
print(dir(t3))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [5]:
j=(1,21,3,"hi",78)
j

(1, 21, 3, 'hi', 78)

In [9]:
#indexing
#extract "hi"
#extract the range of items like position 3 to 5
print(j[3])
print(j[2:])

hi
(3, 'hi', 78)

In [1]:
s=(5,6,"wel",[2,3,7],["horse","pig"])
s

(5, 6, 'wel', [2, 3, 7], ['horse', 'pig'])

In [11]:
#extract "horse" from tuple s
#extract 'i'
#extract 7
print(s[4][0])
print(s[4][1][1])
print(s[3][2])

horse
i
7

In [3]:
 # for loop
for i in s:
        print(i)

5
6
wel
[2, 3, 7]
['horse', 'pig']

In [15]:
s[-2]

[2, 3, 7]

In [19]:
x=10
y=20

#swapping numbers
+x,y=y,x
print("x is :",x,"y is :",y)

x is : 20 y is : 10

# DICTIONARY

In [ ]:
#DICT[key:value,{}]
#a collection of unordered set of keys:value pairs
#keys are unique in one dictionary
#the values in dictionary are accessed using keys,not indices
#a key in dictionary can be any immutable type like strings,numbers and tuples

In [1]:
#creating empty dictionary
d={}      #empty list:[] or list(),empty tuple:() ortuple()
print(d)

d1=dict()
print(d1)

print(type(d))
print(type(d1))

{}
{}
<class 'dict'>
<class 'dict'>

In [3]:
d3={"first":4,"secound":9}
d3

{'first': 4, 'secound': 9}

In [27]:
d4={'first':[1,2,3],'second':["a","b"],"third":(5,6,7),"fourth":'jigsaw'}
(d4)

{'first': [1, 2, 3],
 'fourth': 'jigsaw',
 'second': ['a', 'b'],
 'third': (5, 6, 7)}

In [31]:
#extract [1,2,3] from d4
print(d4["first"])
#extract "b"
print(d4["second"][1])
#extract "w"
print(d4["fourth"][5])

[1, 2, 3]
b
w

In [38]:
#extract "z"
d1={"one":{"e1_one":[3,4,6,{"e1_two":"z"}]}}
print(d1)
print(d1["one"])
print(d1["one"]["e1_one"][3]["e1_two"])

{'one': {'e1_one': [3, 4, 6, {'e1_two': 'z'}]}}
{'e1_one': [3, 4, 6, {'e1_two': 'z'}]}
z

In [48]:
### extract "merge"
#extract 3
x={"new":[9,4,5,["split","merge",10]],"old":("se",17,0),"mid":{"junaid":2,"shivani":3,"last":"poor"}}
print(x)
print(x["new"][3][1])
print(x["mid"]["shivani"])

{'new': [9, 4, 5, ['split', 'merge', 10]], 'old': ('se', 17, 0), 'mid': {'junaid': 2, 'shivani': 3, 'last': 'poor'}}
merge
3