In [1]:
#excercise 
#given this nested list,use indixing to grab the word "hello"
w=[1,2,[3,4],[5,[100,200,["hello"]],23,11],1,7]
w[3][1][2][0]

'hello'

In [2]:
#use lambda expression and the filter() function to filter out words from a list that dont start with the letter "s"
#use filter() function
seq=["soup",'dog',"salad","cat","great"]
list(filter(lambda word:word[0]!="s",seq))

['dog', 'cat', 'great']

In [4]:
#method 2
for x in seq:
    if x[0]!="s":
        print(x)

dog
cat
great

In [2]:
#given a two list create a third list by picking  an odd index element from the first list
#and even index elements from secound
listone=[3,6,9,12,15,18,21]
listtwo=[4,8,12,16,20,24,28]
a=listone[1::2]
b=listtwo[::2]
print(a)
print(b)
a.extend(b)
#listone[1::2].extend(listtwo[::2])
print(a)
#print(listone)

[6, 12, 18]
[4, 12, 20, 28]
[6, 12, 18, 4, 12, 20, 28]

In [16]:
a

[6, 12, 18, 4, 12, 20, 28]

In [7]:
#given input list removes the element at index 4 and add it to the 2nd position and also,at the end of the list 
samplelist=[54,44,27,79,91,41]
x=samplelist.pop(4)
print(x)
samplelist.insert(2,x)
samplelist.append(x)
samplelist

91

[54, 44, 91, 27, 79, 41, 91]

In [26]:
cities=["delhi","pune","chennai","kol"]
#filter the list whenther length of the element is greater than 6
for i in cities:
    if len(i)>6:
         print(i)

chennai

In [29]:
#list comprehension

[i for i in cities if len(i)>6]

['chennai']

In [32]:
#filter and lambda
list(filter(lambda x:len(x)>6,cities))

['chennai']

In [9]:
email="junaidahmed1211@gmail.com"
#separate name and domain name
#name=xyz,domain=gmail.com
email.split("@")

['junaidahmed1211', 'gmail.com']

In [39]:
#adding 1 value to each elements in the list
x=[1,2,3,4,5]
[i+1 for i in x]

[2, 3, 4, 5, 6]

In [10]:
x=[1,2,3,4,5]
for i in x:
    y=i+1
    print(y)

2
3
4
5
6