In [16]:
#Data Structures-Python
#int, float, boolean
#strings
#list
#tuple
#dictonary(dict)

In [2]:
#int
a=5

11

In [3]:
#float
a=0.8
type(a)

float

In [4]:
#strings
a=("my fransssss")
type(a)

str

In [5]:
#boolean
logical=False
type(logical)

bool

In [6]:
#boolean expression
3224>42334

False

In [7]:
#Division returns float type
division=int(20/5)
print(division)
a=22/6
print(a)

4
3.6666666666666665

In [8]:
a=("number is 2")
type(a)

str

In [9]:
product=float(5*20)
product

100.0

In [10]:
#division returns float
div=20/5
print(div)
print("product is:",product)

4.0
product is: 100.0

In [11]:
#arithmetic operations on text
# + concatenates two strings 
text="introduction to python"
text1=" and data manipulation with python"
topic=text+text1  #text and text1 same type
topic

'introduction to python and data manipulation with python'

In [12]:
topic+"2"

'introduction to python and data manipulation with python2'

In [17]:
topic+str( 2)
str()

'introduction to python and data manipulation with python2'

In [14]:
text*3

'introduction to pythonintroduction to pythonintroduction to python'

In [15]:
#question: can a variable name start with a number in python?
5_x=3

SyntaxError: invalid token (<ipython-input-15-b1751ae669b4>, line 2)

In [ ]:
_x=3
_x

In [ ]:
a="hello world"
a

In [ ]:
x=10
x

In [ ]:
type(x)

In [ ]:
x=10
print("the value of x is:",x)

In [ ]:
38744>48949

In [ ]:
x=10
y=8
sum=x+y
sub=x-y
div=x/y
mul=x*y
print(sum)
print(sub)
print(div)
print(mul)

In [ ]:
x=2**4
x

In [ ]:
x=7**5
x

In [ ]:
x=2
y=8
print(x<y)
print(x>y)
print(x>=y)
print(x<=y)

In [ ]:
x=10
y=8
x=not(y)
x

In [ ]:
x=29
print(x>20 and x<30)
print(x>42 and x<30)
print(x>20 or x<30)
print(not(x>20 and x<22))

In [ ]:
# strings, list, tuple, are iterables
#Iterables: when you can iterate over an object(access each element in the object)[give ability to do index and write for loop]
#iterator: Iterables returns iterators
#variables are iterables and output is iterator

In [ ]:
# strings
m="monday"
m

In [ ]:
m[1]

In [ ]:
m[4]

In [ ]:
#[start:end] last value is excluded. It takes only till 3
m[2:5]

In [ ]:
#from first to 4
m[:4]

In [ ]:
#from 2 to end
m[2:]

In [ ]:
#from last (0 is not considered)
m[-1]

In [ ]:
#middle digits are excluded
m[::3]

In [ ]:
# from last(one middle digit is excluded)
m[::-2]

In [ ]:
#last two digits are excluded 
m[:-2]

In [ ]:
#Iterator output
for i in m:
    print(i)

In [ ]:
#user input 
new=input()

In [ ]:
name=input("what is ur name:")

In [ ]:
number=int(input("number:"))

In [18]:
#simple IF statement
x=20
if x>40:
    print('pass')
print('Fail')

Fail

In [ ]:
#IF ELSE statement
x=30
if x>20:
    print('Pass')
else:
    print('Fail')

In [ ]:
# ELIF statement
x=30
y=83
if x<y:
    print('Y is greater')
elif x>y:
    print('X is greater')

In [ ]:
# IF, ELSE-ELIF statement
x=80
if x>60:
    print('First Class')
elif 40<x<=60:      # between 40 to 60 marks
    print('second class')
else: 
    print('Third class')

In [ ]:
#IF ELSE_ELIF statement
x=89
y=36
if x<y:
    print('y is greater')
elif x==y:
        print('X and Y are equal')
else:
        print('x is greater')

In [ ]:
# create INT and convert to STRING
x=53
y=str(x)
type(y)

In [ ]:
#concatenate
x="junaid is"
y=" a dirty boy"
z= x+y
z

#2nd day

In [19]:
#create int object and convert it into string objec
x=1234
y=str(x)
y

'1234'

In [20]:
x="junaid"
y="ahmed"
print(x+y)

junaidahmed

In [21]:
x="junaid"
print(x[0:])
print(x[:])
print(x[-1])
print(x[1:4:2])

junaid
junaid
d
ua

In [22]:
#bynusing input function to create int variable
x=input()
x

junnnu

'junnnu'

In [ ]:
 #create for loop for a string
for i in [1,2,3,4]:
    print(i)
print ("blastoff")

In [ ]:
x="junaid"
for i in x:
    print(x[3])
    break

In [ ]:
x="junaid"
if x[0]=="u":
    print("zaidh")
elif x[3]=="a":
    print("junaid")
else: 
    print("blastoff")

In [ ]:
#strings are immutale(canot be changed)
x= "first"
y="junaid"
x[0]="j"

In [ ]:
#alternate method
#change 3rd position element
x="junaid"
x=x[:3]+"y"+x[3:]
print(x)

In [ ]:
j="friday"
print(dir(j))

In [ ]:
upper(j)

In [ ]:
print(j.upper())
print(j)
print(j.title())
print(j.capitalize())

In [ ]:
j="friday"
?j.upper()

In [ ]:
help(j.upper())

In [ ]:
help(print)

In [ ]:
#user defined
#def keyword before name is to be followed by () and colon
def hello(): 
    print("junaid")
     #return "hello"

In [ ]:
hello()

In [ ]:

x=hello()
print(x)

In [23]:
def jun(x,y):
    return x**y
z=jun(2,3)
z

8

In [ ]:
def hello1():
    return"junaid"
x=hello1()
print(x)

In [24]:
#lambda fun
#syntax:lambda arguments:expression
#[can have many argauments but only one expression]
square=lambda x:x**2
square(12)

144

In [ ]:
square(3)

In [ ]:
x=lambda w,e,t,y:w*e*t*y
x(2,3,8,7)

In [ ]:
#example 2 for lambda 
x = lambda a : a + 10
print(x(5))
print(x(20))

In [ ]:
#example 3 for lambda fun 
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))
print(x(8,9,20))

In [ ]:
assign_txt="this is a sentence with a number 56 here and 72 here"

In [ ]:
print(dir(assign_txt))

In [ ]:
print(dir(assign_txt))

In [ ]:
#in method keep the name of the assigned file name in front of the function 
assign_txt.count("here")

In [ ]:
assign_txt.split()  #by default it takes ()...as split by space
                    #if we want to seperate with any respective text mention it in ("______")

In [ ]:
#split function
for i in assign_txt.split():
    print(i)

In [ ]:
#count how many time number occurs in this sentence
#isnumeric() function is used
#The issnumeric() methods returns “True” if all characters in the string are numeric characters, 
#Otherwise, It returns “False”

count=0
for i in assign_txt.split():
    if i.isnumeric():
        count=count+1
        #count+=1
        print(i)        
print(count)

In [25]:
# lists
newlist=[5,5.5,"age",True]
newlist

[5, 5.5, 'age', True]

In [26]:
#lists are mutable(can be changable or replaceable)
newlist[0]=6
newlist

[6, 5.5, 'age', True]

In [27]:
#create empty list
ls=[]  #or 
ls1=list()
print(ls)
print(ls1)

[]
[]

In [28]:
#list of numbers
#list of strings
ls1=[1,2,3,4]
ls2=["r",'t','p']

In [ ]:
newlist=[5,5.5,"age",True]
newlist[1]

In [ ]:
newlist[3]

In [ ]:
newlist[2:5]

In [ ]:
newlist[3:]

In [ ]:
#extract 'G' from newlist
newlist=[5.5,5,"age",True]
newlist[2][1]

In [ ]:
newlist[2][2]

In [ ]:
#extract the list[3,4]
#extract '4'
ls3=[25,31,[3,4],-5]
print(ls3[2])
print(ls3[2][1])

In [ ]:
#class exercise
#how to extract 89
first=[-2,34,5,[56,81,[43,89],67],10,23]
print(first[3][2][1])

In [29]:
#how to extract 'e'
ls4=[3.5,'tiger',10,[3,4]]
print(ls4[1][3])

e

In [30]:
print(dir(ls4))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [31]:
#extend
ls1=[1,2,3]
ls2=[5,6]
ls1.extend(ls2)   #extend a list
print(ls1)

[1, 2, 3, 5, 6]

In [32]:
#append
newlist.append([10,8])
newlist

[6, 5.5, 'age', True, [10, 8]]

In [33]:
#insert
#newlist.insert(index,value)
newlist=[5.5,5,"age",True]
newlist.insert(0,8)
newlist

[8, 5.5, 5, 'age', True]

In [34]:
#pop-removes last element from the string
newlist.pop()

True

In [35]:
newlist.pop(2)

5

In [36]:
#remove
newlist=[5.5,5,"age",True]
newlist.remove(5.5)

In [37]:
newlist

[5, 'age', True]

In [ ]:
#reverse
ls1=[1,2,3]
ls1.reverse()
ls1

In [ ]:
#index (returns position of the element)
ls1.index(1)

In [ ]:
### applying + and * on lists
ls1=[1,2,3]
ls2=[5,6,7]
print(ls1+ls2)

In [ ]:
#the * operator on lists does repetition of the lsits
ls1=[1,2,3]
print(ls1*4)

In [38]:
#SORT the list in ascending order
ls1=[23,2,56,5,9,10]
print(sorted(ls1))
#by default it takes ascending order
#explicitly passed the object 'l'
#for desending use reverse
print(sorted(ls1,reverse=True))

[2, 5, 9, 10, 23, 56]
[56, 23, 10, 9, 5, 2]

In [39]:
new=['u','a','i']
sorted(new)

['a', 'i', 'u']

In [ ]:
new

In [40]:
#difference between function and method [sorted()fun and sort() method]
#sort method
new.sort()
new

['a', 'i', 'u']

In [41]:
#len(),min(),max()
print(len(new))
print(max(new))
print(min(new))

3
u
a

In [42]:
#exercises:
#copying one list from the other or creating one list from existing list
list2=[1,2,5,2,1,3,2,10]
list3=list2
print(list3)

[1, 2, 5, 2, 1, 3, 2, 10]

In [43]:
#change one value in list 3 ,it affects list 2 as well
list3[0]=9
print(list3)
print(list2)

[9, 2, 5, 2, 1, 3, 2, 10]
[9, 2, 5, 2, 1, 3, 2, 10]

In [ ]:
list3=list2.copy()
print(list3)
print(list2)

In [44]:
list3[0]=7
print(list3)
print(list2)

[7, 2, 5, 2, 1, 3, 2, 10]
[7, 2, 5, 2, 1, 3, 2, 10]

In [ ]:
#split the dates into day , month and year
dt="13/04/2019"
dt.split("/")

In [ ]:
#loop
for i in list3:
    print(i)

In [ ]:
#list comprehension
#one line expresssion of for loop

In [ ]:
#create a list which has square of the elements in the list a
#for loop
a=[1,2,3,4]
b=[]
for i in a:
    b.append(i**2)
print(b)

In [ ]:
#list comprehension
b=[i**2 for i in a]
b

In [ ]:
#map using defining
def square(x):
    return x**2
#map function (applies a function on a given iterable)
#syntax:map(fun,iterable)
map(square,a) #returns generator object(wrap out by list)
list(map(square,a))

In [ ]:
#lambda function
list(map(lambda x:x**2,a))

In [ ]:
x=lambda x,c,v,b,n:x*c/v+b+n
x(2,3,5,6,9)