# Python Libraries

Numpy

Pandas

Matplotlib

Seaborn

scikit-learn

In [1]:
Numpy: allows to perform advanced mathematical and statistical operations on the object.
       It provides vectorization of mathematical operations on arrays and matrices.
        Pandas built on numpy.
        
Maplotlib: allows to perform Visualizations.(plotting library in Python)

scikit-learn: It provides Machine learning algorithms: classification, regression, clustering, model validation

SyntaxError: invalid syntax (<ipython-input-1-4cfa84633732>, line 1)

#To install packages

pip install package name

conda install package name

In [ ]:
#Numpy:
#Creating Numpy Arrays 

import numpy as np
array_1d=np.array([11,22,33,44,55])# 1 dimensional array
array_2d=np.array ([[10,20,30],[40,50,90]]) # 2 dimensional array
print(array_1d)
print(array_2d)

In [ ]:
#Find Shape of the array
array_2d.shape[1]

In [ ]:
array_1d.shape

In [ ]:
#Number of Dimensions
print(array_2d.ndim)
print(array_1d.ndim)

In [ ]:
##creating numpy array using numpy.arange

array_1=np.arange(5)
array_1

In [2]:
#creating numpy array using numpy.arange

array_2=np.arange(2,10,2) ##(start,end,step)
array_2

NameError: name 'np' is not defined

In [ ]:
##creating numpy array using numpy.linspace
#generates linear evenly spaced elements between the start and the end

array_3=np.linspace(0,0.75,4)
array_3

In [ ]:
##Numpy array creation via various functions

##numpy.zeros, numpy.ones, numpy.eye, nrandom.rand, numpy.random.randn, and numpy.empty.

##numpy.ones
# Produces 3x2 array of 1's.
array_4=np.ones((2,3))
array_4

In [ ]:
##numpy.zeros
# Produce 3X4 array of zeros.
array_5=np.zeros((2,3))
array_5

In [ ]:
print(array_4+array_5)
print(array_4 *array_5)

In [ ]:
#Day 4

In [ ]:
arra=np.eye(3)
arra

In [ ]:
##numpy.random.rand
##Using the rand, randn functions
#rand(m) produces uniformly distributed random numbers with range 0 to m

np.random.seed(200)   # Set seed
array_8=np.random.rand(4)
array_8

In [ ]:
arra2=np.diag((2,3,6))
arra2

In [ ]:
##numpy.empty
##creating uninitialised array
#numpy.empty(shape)
import numpy as np
array_10=np.empty((4,3))
array_10

In [ ]:
arr_11=np.array([10,11,12,13])
print(arr_11.dtype)
print(type(arr_11))

In [ ]:
##default dtype in NumPy is float.
#change the data type 
arr_11=arr_11.astype(float)
arr_11.dtype

In [ ]:
##NumPy indexing and slicing

##Array indices in NumPy start at 0

#import numpy as np
arr_1 = np.arange(6)

#print entire array
arr_1

In [ ]:
arr_1[2]

In [ ]:
arr_1[:]

In [ ]:
arr_1[2:5]

In [ ]:
#last element
arr_1[-1]

In [ ]:
##Modify value at arr_1[1]
arr_1[1] = 8
arr_1

In [ ]:
array_2d

In [ ]:
#[row,column]
array_2d[1,2]

In [ ]:
array_2d[0:2]

In [ ]:
array_2d

In [ ]:
array_2d[0:2][0:1,2]

In [ ]:
array_2d[0:2,0:2]

In [ ]:
array_3=np.array ([[10,20,30],[40,50,90],[35,65,76],[90,80,70],[23,34,56]])
array_3

In [ ]:
#extract the value 80
array_3[3,1]

In [ ]:
#extract the 2nd position row and 1st column values
array_3[2,1]

In [ ]:
#extract 2nd position column values
array_3[:,2]

# Introduction to Pandas

Pandas is a powerful package in Python. It is used for Data cleaning and manipulating data to get summary insights from the data.

Pandas is basically used to manipulate tabular data, it is ability select columns and filter rows sort data and do groupby tasks

Pandas has two Data structures: Series and DataFrame

Series: One dimensional labeled array (Capable of holding any data type). The axis labels are called index.
    Create Series by using pandas: pandas.Series(data, index)                                                )
DataFrame: Two dimensional array

#To intall packages
pip install package name
!pip install package name (Jupyter notebook)
conda install package name

In [2]:
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
#Creating a Series object
#General syntax is:
#s= Series(data,index)   (or)
#s=pd.Series(data,index)

In [ ]:
#Series from a list
S=Series([1,2,3,4,5])
print(S)
print (S[0])
print (S[2])
print(S.values)
print(S.index)
print (list(S.index))
S[5]=6

In [ ]:
S=Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(S)
print(S[0])
print(S['b'])
S.index

In [ ]:
print(S)

In [ ]:
#Adding one element to the series
S['g']=7
print(S)

In [ ]:
#add 1 to each element in 's'
s=pd.Series([8,9,10])
print(s)
S=s+1
print(type(s))
S

In [ ]:
#Deleting elements from a series
#drop(index)
series1=s.drop(1)
series1

In [ ]:
#More than one element from a series
series2=Series([8,9,10],index=['h','i','j'])
print(series2)
series3=series2.drop(['i','j'])
print(series3)

In [ ]:
#Series from a dictionary
d={'a':3,'b':4}
d1=Series(d)
d1

In [ ]:
#We can make changes to a series in place also
d1['a']=8
d1

# Pandas DataFrame

#Creating a dataframe

#From a dictionary of lists, dictionaries, series

#From a list of dictionaries

In [ ]:
#create empty dataframe
D=DataFrame()
D

In [ ]:
D1=pd.DataFrame()
D1

In [6]:
#Dictionary of lists
d={'Price':[19,22,13,54,65],'Sales':[600,756,587,859,990]}
frame1=DataFrame(d)
print(frame1)

   Price  Sales
0     19    600
1     22    756
2     13    587
3     54    859
4     65    990

In [7]:
#Dictionary of dictionaries
d1={'Price':{'r1':19,'r2':22},'Sales':{'r1':600,'r2':756}}
frame2=DataFrame(d1)
print(frame2)

    Price  Sales
r1     19    600
r2     22    756

In [8]:
#Dictionary of Series
d2={'Price':Series([19,22,13,54,65]),'Sales':Series([600,756,587,859,990])}
frame3=DataFrame(d2)
print(frame3)

   Price  Sales
0     19    600
1     22    756
2     13    587
3     54    859
4     65    990

In [9]:
#list of Dictionaries
list1=[{'Price':19,'Sales':600,'Qty':30},{'Price':22,'Sales':756,'Qty':65}]
frame4=DataFrame(list1)
print(frame4)

   Price  Qty  Sales
0     19   30    600
1     22   65    756

In [10]:
#rename(columns={'oldname1':'newname1','oldname2':'newname2'})
frame1.rename(columns={'Price':'Base_Price','Sales':'Unit Sales'},inplace=True)
frame1

   Base_Price  Unit Sales
0          19         600
1          22         756
2          13         587
3          54         859
4          65         990

In [11]:
frame4.rename(columns={'Price':'Base_Price','Qty':'Quantity','Sales':'Unit Sales'})

   Base_Price  Quantity  Unit Sales
0          19        30         600
1          22        65         756

In [12]:
frame4

   Price  Qty  Sales
0     19   30    600
1     22   65    756

# loc and iloc

loc method is label-based, which means that you have to specify rows and columns based on their row and column labels.

iloc is integer index based, so you have to specify rows and columns by their integer index.

In [29]:
#.loc  label index
#.iloc integer index.

print(frame1)
frame1.iloc[0]
frame1.loc[2]

   Base_Price  Unit Sales
0          19         600
1          22         756
2          13         587
3          54         859
4          65         990

Base_Price     13
Unit Sales    587
Name: 2, dtype: int64

In [17]:
print(frame2)
frame2.loc['r1']

    Price  Sales
r1     19    600
r2     22    756

Price     19
Sales    600
Name: r1, dtype: int64

In [18]:
frame1.loc[0]

Base_Price     19
Unit Sales    600
Name: 0, dtype: int64

756

In [19]:
frame2.iloc['r1']

TypeError: Cannot index by location index with a non-integer key

In [32]:
#extract the value 756 from frame1
frame1.iloc[1]['Unit Sales']

756

In [33]:
#extract 587 from frame1
frame1.loc[2]['Unit Sales']

587

In [7]:
d3={'col1':Series([1,2,3]),'col2':Series([6,7,8])}
frame3=DataFrame(d3)
frame3

   col1  col2
0     1     6
1     2     7
2     3     8

In [37]:
#extract more than one element
frame3.iloc[[1,0]]

   col1  col2
1     2     7
0     1     6

In [3]:
df1=DataFrame({'price':[23,45,67],'sales':[3,6,7]},index=['a','b','c'])

In [39]:
df1.loc['a']

price    23
sales     3
Name: a, dtype: int64

In [40]:
df1.loc[['a','c']]

   price  sales
a     23      3
c     67      7

In [41]:
df1.iloc[[0,1]]

   price  sales
a     23      3
b     45      6

In [42]:
df1.iloc[[0]]['sales']

a    3
Name: sales, dtype: int64

In [44]:
#all values from the sales column
df1.iloc[:,[1]]

   sales
a      3
b      6
c      7

# Zip function

In [73]:
list1=['first','second','third','fourth']
list2=[56,7,8,9]
list(zip(list1,list2))

[('first', 56), ('second', 7), ('third', 8), ('fourth', 9)]

In [74]:
zipped=list(zip(list1,list2))

In [69]:
#data=list(zipped)

In [76]:
data=pd.DataFrame(zipped,columns=['class','marks'])

In [79]:
print(data)
print(type(data))

    class  marks
0   first     56
1  second      7
2   third      8
3  fourth      9
<class 'pandas.core.frame.DataFrame'>

#Day 5
# Importing Data in Python

#Load CSV file

In [9]:
#path of the file
path="https://s3.us-east-2.amazonaws.com/datafaculty/Store.csv"

In [10]:
#reading a file
import pandas as pd
data=pd.read_csv(path)

In [11]:
type(data)

pandas.core.frame.DataFrame

In [13]:
#view data
data.head(2)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [16]:
#Number of observations(Number of rows, number of cols)
data.shape

(9994, 22)

In [19]:
#number of rows
print(data.shape[0])
#number of cols
print(data.shape[1])

9994
22

In [17]:
#all observations
data

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,5,6,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,6,7,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,7,8,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,8,9,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,9,10,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700
10,10,11,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
11,11,12,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,0.20,68.3568
12,12,13,CA-2014-114412,4/16/2014,4/21/2014,Standard Class,AA-10480,Andrew Allen,Consumer,United States,...,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432
13,13,14,CA-2013-161389,12/6/2013,12/11/2013,Standard Class,IM-15070,Irene Maddox,Consumer,United States,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.9760,3,0.20,132.5922
14,14,15,US-2012-118983,11/22/2012,11/26/2012,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5,0.80,-123.8580
15,15,16,US-2012-118983,11/22/2012,11/26/2012,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,...,76106,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.5440,3,0.80,-3.8160
16,16,17,CA-2011-105893,11/11/2011,11/18/2011,Standard Class,PK-19075,Pete Kriz,Consumer,United States,...,53711,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.8800,6,0.00,13.3176
17,17,18,CA-2011-167164,5/13/2011,5/15/2011,Second Class,AG-10270,Alejandro Grove,Consumer,United States,...,84084,West,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.5000,2,0.00,9.9900
18,18,19,CA-2011-143336,8/27/2011,9/1/2011,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,...,94109,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.5600,2,0.00,2.4824
19,19,20,CA-2011-143336,8/27/2011,9/1/2011,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.4800,3,0.20,16.0110
20,20,21,CA-2011-143336,8/27/2011,9/1/2011,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,...,94109,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.7200,4,0.20,7.3840
21,21,22,CA-2013-137330,12/10/2013,12/14/2013,Standard Class,KB-16585,Ken Black,Corporate,United States,...,68025,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.4600,7,0.00,5.0596
22,22,23,CA-2013-137330,12/10/2013,12/14/2013,Standard Class,KB-16585,Ken Black,Corporate,United States,...,68025,Central,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.3400,7,0.00,15.6884
23,23,24,US-2014-156909,7/17/2014,7/19/2014,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,...,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.3720,2,0.30,-1.0196
24,24,25,CA-2012-106320,9/25/2012,9/30/2012,Standard Class,EB-13870,Emily Burns,Consumer,United States,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,0.00,240.2649
25,25,26,CA-2013-121755,1/16/2013,1/20/2013,Second Class,EH-13945,Eric Hoffmann,Consumer,United States,...,90049,West,OFF-BI-10001634,Office Supplies,Binders,Wilson Jones Active Use Binders,11.6480,2,0.20,4.2224
26,26,27,CA-2013-121755,1/16/2013,1/20/2013,Second Class,EH-13945,Eric Hoffmann,Consumer,United States,...,90049,West,TEC-AC-10003027,Technology,Accessories,Imation 8GB Mini TravelDrive USB 2.0 Flash Drive,90.5700,3,0.00,11.7741
27,27,28,US-2012-150630,9/17/2012,9/21/2012,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,19140,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.4300,7,0.50,-1665.0522
28,28,29,US-2012-150630,9/17/2012,9/21/2012,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,19140,East,OFF-BI-10000474,Office Supplies,Binders,Avery Recycled Flexi-View Covers for Binding S...,9.6180,2,0.70,-7.0532
29,29,30,US-2012-150630,9/17/2012,9/21/2012,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,...,19140,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.2000,3,0.20,15.5250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9964,9964,9965,CA-2013-146374,12/6/2013,12/11/2013,Second Class,HE-14800,Harold Engle,Corporate,United States,...,19711,East,FUR-FU-10002671,Furniture,Furnishings,Electrix 20W Halogen Replacement Bulb for Zoom...,13.4000,1,0.00,6.4320
9965,9965,9966,CA-2013-146374,12/6/2013,12/11/2013,Second Class,HE-14800,Harold Engle,Corporate,United States,...,19711,East,OFF-PA-10000349,Office Supplies,Paper,Easy-staple paper,4.9800,1,0.00,2.3406
9966,9966,9967,CA-2013-146374,12/6/2013,12/11/2013,Second Class,HE-14800,Harold Engle,Corporate,United States,...,19711,East,OFF-EN-10004483,Office Supplies,Envelopes,"#10 White Business Envelopes,4 1/8 x 9 1/2",109.6900,7,0.00,51.5543
9967,9967,9968,CA-2014-153871,12/12/2014,12/18/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,...,7060,East,OFF-BI-10004209,Office Supplies,Binders,"Fellowes Twister Kit, Gray/Clear, 3/pkg",40.2000,5,0.00,18.0900
9968,9968,9969,CA-2014-153871,12/12/2014,12/18/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,...,7060,East,OFF-BI-10004600,Office Supplies,Binders,Ibico Ibimaster 300 Manual Binding System,735.9800,2,0.00,331.1910
9969,9969,9970,CA-2014-153871,12/12/2014,12/18/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,...,7060,East,OFF-AP-10003622,Office Supplies,Appliances,"Bravo II Megaboss 12-Amp Hard Body Upright, Re...",22.7500,7,0.00,6.5975
9970,9970,9971,CA-2012-103772,6/28/2012,7/2/2012,Standard Class,MP-17470,Mark Packer,Home Office,United States,...,30080,South,OFF-BI-10002867,Office Supplies,Binders,GBC Recycled Regency Composition Covers,119.5600,2,0.00,54.9976
9971,9971,9972,CA-2012-103772,6/28/2012,7/2/2012,Standard Class,MP-17470,Mark Packer,Home Office,United States,...,30080,South,OFF-AR-10000538,Office Supplies,Art,"Boston Model 1800 Electric Pencil Sharpener, Gray",140.7500,5,0.00,42.2250
9972,9972,9973,CA-2013-130225,9/12/2013,9/18/2013,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,...,77041,Central,OFF-EN-10000056,Office Supplies,Envelopes,Cameo Buff Policy Envelopes,99.5680,2,0.20,33.6042
9973,9973,9974,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,...,90032,West,TEC-PH-10004080,Technology,Phones,Avaya 5410 Digital phone,271.9600,5,0.20,27.1960
9974,9974,9975,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,...,90032,West,OFF-AR-10004752,Office Supplies,Art,Blackstonian Pencils,18.6900,7,0.00,5.2332
9975,9975,9976,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,...,90032,West,OFF-PA-10000743,Office Supplies,Paper,Xerox 1977,13.3600,2,0.00,6.4128
9976,9976,9977,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,...,90032,West,TEC-PH-10002496,Technology,Phones,Cisco SPA301,249.5840,2,0.20,31.1980
9977,9977,9978,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,...,90032,West,OFF-FA-10003467,Office Supplies,Fasteners,"Alliance Big Bands Rubber Bands, 12/Pack",13.8600,7,0.00,0.0000
9978,9978,9979,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,...,90032,West,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,13.3760,4,0.20,4.6816
9979,9979,9980,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,...,90032,West,OFF-BI-10002026,Office Supplies,Binders,Ibico Recycled Linen-Style Covers,437.4720,14,0.20,153.1152
9980,9980,9981,US-2012-151435,9/6/2012,9/9/2012,Second Class,SW-20455,Shaun Weien,Consumer,United States,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.9800,1,0.00,22.3548
9981,9981,9982,CA-2014-163566,8/4/2014,8/7/2014,First Class,TB-21055,Ted Butterfield,Consumer,United States,...,45014,East,OFF-LA-10004484,Office Supplies,Labels,Avery 476,16.5200,5,0.20,5.3690
9982,9982,9983,US-2013-157728,9/23/2013,9/29/2013,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,...,49505,Central,OFF-PA-10002195,Office Supplies,Paper,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.5600,7,0.00,16.7132
9983,9983,9984,US-2013-157728,9/23/2013,9/29/2013,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,...,49505,Central,TEC-PH-10001305,Technology,Phones,Panasonic KX TS208W Corded phone,97.9800,2,0.00,27.4344
9984,9984,9985,CA-2012-100251,5/17/2012,5/23/2012,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5000,10,0.00,15.1200
9985,9985,9986,CA-2012-100251,5/17/2012,5/23/2012,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.6000,4,0.00,16.1240
9986,9986,9987,CA-2013-125794,9/30/2013,10/4/2013,Standard Class,ML-17410,Maris LaWare,Consumer,United States,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.2400,1,0.00,15.2208
9987,9987,9988,CA-2014-163629,11/18/2014,11/22/2014,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.9900,1,0.00,28.7964
9988,9988,9989,CA-2014-163629,11/18/2014,11/22/2014,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5,0.00,55.6470
9989,9989,9990,CA-2011-110422,1/22/2011,1/24/2011,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9990,9991,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9991,9992,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9992,9993,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9993,9994,CA-2014-119914,5/5/2014,5/10/2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [20]:
#last 2 observations
data.tail(2)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9992,9992,9993,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4,0.0,13.320
9993,9993,9994,CA-2014-119914,5/5/2014,5/10/2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2,0.0,72.948

In [21]:
#Other way to load csv file in Python
#import os module to connect os to Python environment
import os
#Checking of current working directory
os.getcwd()

'C:\\Users\\Nithya'

In [23]:
#Changing working directory
os.chdir("D://Files")
os.getcwd()

'D:\\Files'

In [26]:
#read Store.csv file
Flight=pd.read_csv('FlightDelays.csv')

In [27]:
Flight.head(2)

,schedtime,carrier,deptime,dest,distance,date,flightnumber,origin,weather,dayweek,daymonth,tailnu,delay
0,1455,OH,1455,JFK,184,01-01-2004,5935,BWI,0,4,1,N940CA,ontime
1,1640,DH,1640,JFK,213,01-01-2004,6155,DCA,0,4,1,N405FJ,ontime

In [28]:
Flight.shape

(2201, 13)

#txt file (tab separated file)
#read_table() helps to read txt file

In [29]:
d=pd.read_table('sample1.txt')
d.head()

C:\Users\Nithya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

   Age Customer   Income Location
0   30        A     1200       A1
1   32        B     1333       A2
2   33      NaN  Missing      NaN

In [30]:
sample=pd.read_csv('sample1.txt',sep ='\t')
sample.head(2)

   Age Customer Income Location
0   30        A   1200       A1
1   32        B   1333       A2

In [36]:
print(os.getcwd())
#candidates.csv stores in "D://Files//Files1"
#pd.read_csv("Files1//candidates.csv")
#pd.read_csv("Files2//contributions.csv")

D:\Files

In [ ]:
#read xlsx files

In [37]:
e=pd.read_excel("Loandetails.xlsx")
e.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,sub_grade,is_inc_v,accept_d,issue_d,loan_status
0,54734,80364,25000,25000,19419.94,0.1189,829.10,B,B4,True,2009-07-26,2009-08-05,Fully Paid
1,55742,114426,7000,7000,6549.40,0.1071,228.22,B,B5,False,2008-05-12,2008-05-27,Fully Paid

In [39]:
e.shape

(11825, 13)

In [40]:
os.listdir("D://Files")

['.RData',
 '.Rhistory',
 '1__RA3mCS30Pr0vUxbp25Yxw.png',
 '5th April - Basic Python.zip',
 '5th April - Store.csv',
 '5th April - wines.xlsx',
 'advanced stat.R',
 'Adv_Hyp_GradedAssignmentSol_1.docx',
 'Airlines_Data-1.csv',
 'amesterdem.csv',
 'amesterden.csv',
 'amsterdam.json',
 'audit.csv',
 'Automobile data.csv',
 'Automobile_data.csv',
 'barley.csv',
 'Baseball.csv',
 'BH.csv',
 'boston_prices.csv',
 'Business Statistics - Non Graded Assignment.xlsx',
 'Campaign_File.txt',
 'Canada.xlsx',
 'candidates.csv',
 'Cars_Retail_Price.xlsx',
 'categoricalprofile.csv',
 'City.ipynb',
 'class.docx',
 'classifiers.R',
 'comey.csv',
 'continousprofiles.csv',
 'contributions.csv',
 'copy.txt',
 'corr_matrix_incl_anno_double.png',
 'Credit Card - SAS Functions.csv',
 'Credit.csv',
 'credit.csv-data dictionary.xlsx',
 'credit_history.csv',
 'Cricket_Data-2.xlsx',
 'customers.xlsx',
 'Data Dic_oj.xlsx',
 'Data Quality Report.csv',
 'Data Visualization Graded Case Study Dataset.xlsx',
 'dataquality.csv',
 'Dataset.xlsx',
 'day.csv',
 'Deciled Usable Continuous variables.csv',
 'Decisin tree.txt',
 'decisiontree.r',
 'DirectMarketing.csv',
 'dm-1.csv',
 'dqr.csv',
 'earthquake_report.csv',
 'Ecommerce-Purchases.csv',
 'Ecommerce-Purchases.xls',
 'Ecommerce_Purchases',
 'Employee_Details-0.5 KB.csv',
 'essays_Audit.csv',
 'Event Rate - Categorical variables1.csv',
 'Event Rate - Categorical variables2.csv',
 'example_1.json',
 'FAQs.html',
 'FAQs.Rmd',
 'file.csv',
 'Files',
 'Files1',
 'final_data',
 'first.xlsx',
 'FlightDelays.csv',
 'functions_examples.csv',
 'Gokhale Project Similarities.csv',
 'Gokhale-Project Similarities.csv',
 'Gokhale-Project Similarities.xlsx',
 'Gokhale.csv',
 'Gokhalep.csv',
 'GOODBAD.CSV',
 'goodforu-variable-descriptions-class13.xlsx',
 'hr.csv',
 'img_name',
 'Insurance Dataset.xlsx',
 'insurance.csv',
 'iris.csv',
 'json file.txt',
 'K means-Images',
 'kavya.R',
 'LC - 12 Oct.csv',
 'LCDataDictionary - 12 Oct.xlsx',
 'Loandetails.xlsx',
 'milk.csv',
 'MMix.csv',
 'MMwoes.csv',
 'model.rda',
 'names.csv',
 'New Microsoft Word Document.docx',
 'New Text Document.txt',
 'new.xlsx',
 'new1.xlsx',
 'newfile.csv',
 'nithya.txt',
 'NYSE_dividends.tsv',
 'Oozie',
 'outcomes_Audit.csv',
 'pet_licenses.rda',
 'pred (1)-Devangiri.csv',
 'pred.csv',
 'Products_File.txt',
 'projects_Audit.csv',
 'read.csv',
 'regression.csv',
 'retailmcq.csv',
 'Retail_Sales-2 KB.csv',
 'retail_sales.csv',
 'Rplot.png',
 's.csv',
 'Salaries.csv',
 'Sample Data quality report.xlsx',
 'sample.txt',
 'sample1.txt',
 'Sampledataframe.csv',
 'sampletelecomfinal.csv',
 'Sample_file.csv',
 'Sample_SAS-1.3 KB.csv',
 'SAS-questions.xlsx',
 'schools.csv',
 'stackoverflow.csv',
 'starbucks_final.csv',
 'Statistics.xlsx',
 'Store.csv',
 'Store_Sales-0.8 KB.txt',
 'Telco-Customer-Churn_Final (1).csv',
 'Telco-Customer-Churn_Final.csv',
 'telecomfinal.csv',
 'test.csv',
 'The World_s Most Valuable Brands List - Forbes.html',
 'train-Titanic.csv',
 'US Population by State.csv',
 'Weekday Bootcamp - Feb 18th Schedule..pdf',
 'winequality.csv',
 'write.txt',
 'xml.xml',
 '_RData.gz',
 '_Rhistory']

In [45]:
#read json files
ams=pd.read_json("amsterdam.json")
ams.head(3)

,host_listings_count,accommodates,bathrooms,bedrooms,guests_included,minimum_nights,number_of_reviews,calculated_host_listings_count,price,latitude,longitude,room_type,instant_bookable
0,1.0,6,1.0,2.0,1,3,4,1,$145.00,52.361173,4.866755,Entire home/apt,f
1,1.0,2,1.0,1.0,1,2,17,1,$88.00,52.370237,4.859507,Entire home/apt,f
10,1.0,2,1.0,1.0,1,3,0,1,$130.00,52.371424,4.848644,Entire home/apt,f

In [60]:
ams.iloc[:,[1]].head(2)

   accommodates
0             6
1             2

In [59]:
ams['accommodates'].head(2)  #it returns series object

0    6
1    2
Name: accommodates, dtype: int64

In [61]:
type(ams['accommodates'])

pandas.core.series.Series

In [64]:
ams[['accommodates']].head(2) # returns DataFrame object

   accommodates
0             6
1             2

In [63]:
type(ams[['accommodates']])

pandas.core.frame.DataFrame

In [ ]:
#Export csv file
ams.to_csv("E://copies//new.csv")

In [ ]:
# Data frame built on series object

#Exercises:
Exercise 1: Create a DataFrame that looks like this:

  Apple    Banana
  
0   30      21
1   15      31

In [67]:
d={'Apple':[30,15],'Banana':[21,31]}
d1=pd.DataFrame(d)
d1

   Apple  Banana
0     30      21
1     15      31

In [69]:
#2.a
mydict = [{'p': 2, 'q': 3, 'r': 4, 's': 5},
           {'p': 20, 'q': 30, 'r': 40, 's': 50},
           {'p': 200, 'q': 300, 'r': 400, 's': 500 }]
    
#create data frame from the given dictionary 
d2=pd.DataFrame(mydict)
d2

     p    q    r    s
0    2    3    4    5
1   20   30   40   50
2  200  300  400  500

In [76]:
#2.b.
#indexing the rows with the list of integers using loc/iloc
d2.iloc[0,1]
d2.iloc[:,3]
d2.iloc[:,1:3]

     q    r
0    3    4
1   30   40
2  300  400

In [ ]:
#3.give different index in the data frame mydict

In [ ]:
#4.select the last row values

In [ ]:
#5. Create a `Series` that looks like this:

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can

In [ ]:
#6.use lambda function to select the rows whose label index is even from the data frame frame3[%=remainder,x.index%2==0]

In [4]:
#7. create pandas series object which has product of all the elements in a list list1 and 8
#Pandas Series support vectorization
list1=[1,2,3,4]
s=Series(list1)
s*8

NameError: name 'Series' is not defined

In [ ]:
#8.get index and values of a series
ser1 = pd.Series({"India": "New Delhi",
                  "Japan": "Tokyo",
                  "UK": "London"})

In [ ]:
#9.create a dataframe with index and columns

In [ ]:
#10. get first 5 observartions from the data set medal.csv
#Download a data set medal.csv from Jigsaw LMS and load it in Python environment

In [ ]:
#endswith method:
#returns true if a string endswith the specified suffix. If not, it returns false
text="python is easy to learn."
text.endswith("easy to")

In [ ]:
text.endswith("easy to learn")

In [ ]:
text.endswith("easy to learn.")